examples/oauth-authorization-app/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd
        http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <description>
        SalesForce OAuth Demo
    </description>

    <spring:beans>
        <context:property-placeholder
                location="classpath:credentials.properties"/>
    </spring:beans>

    <sfdc:config-with-oauth name="salesforce-oauth"
                            consumerKey="${salesforce.consumerKey}"
                            consumerSecret="${salesforce.consumerSecret}">
        <sfdc:oauth-callback-config domain="localhost" localPort="8081" remotePort="8081" path="oauthcallback"/>
        <sfdc:oauth-store-config objectStore-ref="_defaultInMemoryObjectStore"/>
    </sfdc:config-with-oauth>

    <flow name="unauthorize">
        <http:inbound-endpoint host="localhost" port="8081" path="unauthorize"/>
        <sfdc:unauthorize config-ref="salesforce-oauth" accessTokenId="#[message.inboundProperties['http.query.params'].get('accessTokenId')]"/>
        <http:response-builder status="200">
            <set-payload value="You have successfully unauthorized the connector for #[message.inboundProperties['http.query.params'].get('accessTokenId')]"/>
        </http:response-builder>
    </flow>

    <flow name="authorize">
        <http:inbound-endpoint host="localhost" port="8081" path="authorize"/>
        <sfdc:authorize config-ref="salesforce-oauth" display="PAGE"/>
        <http:response-builder status="200">
            <set-payload value="You have successfully authorized the connector. You access token id is #[flowVars['OAuthAccessTokenId']]"/>
        </http:response-builder>
        <catch-exception-strategy>
            <http:response-builder status="404">
                <set-payload value="An error has occurred authorizing the connector"/>
            </http:response-builder>
        </catch-exception-strategy>
    </flow>

    <flow name="getUserInfo">
        <http:inbound-endpoint host="localhost" port="8081" path="getuserinfo"/>
        <sfdc:get-user-info config-ref="#[app.registry.get('salesforce-oauth')]" accessTokenId="#[message.inboundProperties['http.query.params'].get('accessTokenId')]"/>
        <http:response-builder status="200">
            <set-payload
                    value="You are #[payload.userFullName] (#[payload.userEmail])"/>
        </http:response-builder>
        <catch-exception-strategy>
            <http:response-builder status="200">
                <set-payload
                        value="The connector has not been authorized yet. Use /authorize before hitting this URL again"/>
            </http:response-builder>
        </catch-exception-strategy>
    </flow>
</mule>
