src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.4/mule-http.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <sfdc:config name="salesforce-default" username="${salesforce.username}"
                 password="${salesforce.password}" securityToken="${salesforce.securityToken}"/>

    <!--salesforce.url=https://test.salesforce.com/services/Soap/u/23.0-->
    <!--salesforce.consumerKey=3MVG9y6x0357HlecJ9Yl8f0bxNjduou17sR42RYLWXD0fZz1qvK9LBoDDySrbjAt9dsT5johqcw5rq7Z2Z6Ys-->
    <!--salesforce.consumerSecret=8420314300163034258-->
    
    <sfdc:config-with-oauth name="salesforce-oauth" consumerKey="3MVG9y6x0357HlecJ9Yl8f0bxNjduou17sR42RYLWXD0fZz1qvK9LBoDDySrbjAt9dsT5johqcw5rq7Z2Z6Ys" consumerSecret="8420314300163034258">
        <sfdc:oauth-callback-config domain="localhost" localPort="8081" remotePort="8081" path="oauthcallback"/>
        <sfdc:oauth-store-config objectStore-ref="_defaultInMemoryObjectStore"/>
    </sfdc:config-with-oauth>

    <sfdc:config name="Salesforce" username="sap.dev@mulesoft.com.sap" password="Muleftwin3" securityToken="VFeUwhXLXiH7QowJ7iXuG8rQ"/>

  <flow name="Create">
    <sfdc:create type="Account" config-ref="salesforce-default">
      <sfdc:objects>
        <sfdc:object>
          <Name>MuleSoft</Name>
        </sfdc:object>
      </sfdc:objects>
    </sfdc:create>
  </flow>

    <flow name="authorize">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="authorize"/>
        <sfdc:authorize config-ref="salesforce-oauth" display="POPUP" state="" />
        <set-session-variable value="#[flowVars['OAuthAccessTokenId']]" variableName="accessTokenId"/>
    </flow>

    <flow name="create-single">
        <sfdc:create-single config-ref="Salesforce" type="Account">
            <sfdc:object>
                <sfdc:object key="test" value-ref="#[payload]"/>
            </sfdc:object>
        </sfdc:create-single>
    </flow>
    
    <flow name="query">
        <sfdc:query config-ref="Salesforce" query="dsql:SELECT Id, Name FROM ACCOUNT WHERE Name = 'Test Account 2' "/>
    </flow>


    <!--<flow name="Create-metaData">-->
        <!--<sfdc:create type="Account" config-ref="Salesforce">-->
            <!--<sfdc:objects>-->
                <!--<sfdc:object>-->
                    <!--<Name>MuleSoft</Name>-->
                <!--</sfdc:object>-->
            <!--</sfdc:objects>-->
        <!--</sfdc:create>-->
    <!--</flow>-->

    <flow name="Query">
      <message-properties-transformer>
          <add-message-property key="SAVE_THIS" value="MULESOFT"/>
      </message-properties-transformer>
        <sfdc:query-single config-ref="salesforce-default" query="SELECT Name FROM Account WHERE  Name = '001'"/>
      <logger level="INFO" message="#[header:OUTBOUND:SAVE_THIS]"/>
    </flow>
</mule>
